@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

$fz: 10px;

.fz-12 {
    font-size: $fz * 1.2;
    line-height: 1.5;
}
.fz-14 {
    font-size: $fz * 1.4;
    line-height: 1.5;
}

.fz-16 {
    font-size: $fz * 1.6;
    line-height: 1.5;
}

.fw-bold {
    font-weight: bold;
}

a {
    &:hover {
        text-decoration: none;
    }
}

textarea {
    resize: none;
}

.material-icons {
    color: #121212;
    &:hover {
        color: #2a8356;
    }
}
