<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title><%- title %></title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.css" />
        <link rel="stylesheet" href="./assets/style/all.css" />
    </head>

    <body>
        <div class="d-flex">
            <!-- 側邊欄 -->
            <nav class="sidebar bg-primary">
                <!-- logo -->
                <img class="sidebar-logo px-5 pt-5 pb-3 d-block w-100" src="assets/images/logo-ANSWER.svg" alt="" />
                <!-- 選單 -->
                <ul class="sidebar-menu">
                    <li>
                        <a class="sidebar-menu-item d-flex text-info" href="#">
                            <span class="material-icons mr-3"> assessment </span>
                            Dashboard</a
                        >
                    </li>
                    <li>
                        <a class="sidebar-menu-item d-flex text-info" href="#"
                            ><span class="material-icons mr-3"> question_answer </span> Question</a
                        >
                    </li>
                    <li>
                        <a class="sidebar-menu-item d-flex text-info" href="#"
                            ><span class="material-icons mr-3"> assignment </span> Assignment</a
                        >
                    </li>
                    <li>
                        <a class="sidebar-menu-item d-flex text-info" href="#"
                            ><span class="material-icons mr-3"> video_library </span> Course</a
                        >
                    </li>
                    <li>
                        <a class="sidebar-menu-item d-flex text-info" href="#"
                            ><span class="material-icons mr-3"> supervisor_account </span> Admin</a
                        >
                    </li>
                    <li>
                        <a class="sidebar-menu-item d-flex text-info" href="#">
                            <span class="material-icons mr-3"> settings </span>Settings</a
                        >
                    </li>
                </ul>
                <!-- 登入者 -->
                <div class="sidebar-user d-flex align-items-center pb-5 px-5">
                    <img class="sidebar-img mr-3" src="assets/images/andychen.jpeg" alt="" />

                    <div class="sidebar-detail">
                        <p class="sidebar-title text-info mb-1">Andy Chen</p>
                        <p class="sidebar-text text-dark">andy0401@mail.com</p>
                    </div>
                </div>
            </nav>
            <!-- 右側內容 -->
            <div class="container-fluid"><%- contents %></div>
        </div>
        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
