.assignment-list{
    list-style: none;
    padding: 0;
    // border-radius: 2px 2px 0px 0px;
}
.assignment-list-item{
    display: block;
    border: 1px solid #CDDDCD;
    padding: 12px;
    &.active{
        background-color: #EDF4EE;
    }
}

.assignment-list-title{
    font-size: $fz *1.4;
    line-height: $fz *2.4;
}

.assignment-list-detail{
    font-size:  $fz * 1.6;
    line-height: 1.5;
    font-weight: bold;
}