.modal-img {
    width: 141px;
    height: 141px;
    object-fit: cover;
}
.modal-text {
    list-style: none;
}
.modal-title {
    font-size: $fz * 2.4;
    line-height: 1.5;
    font-weight: bold;
    &-sm {
        font-size: $fz * 2;
        line-height: 1.5;
        font-weight: bold;
    }
}
.modal-input{
height: 51px;
}

.modal-btn{
    &.active{
    transform: rotate(180deg);
    transition: all 1s;    
    }
}