.sidebar {
    // position: fixed;
    // top: 0;
    // bottom: 0;
    // left: 0;
    width: 296px;
    // width: 23%;
    min-height: 100vh;
    // position: relative;
    position: fixed;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    .sidebar-menu-item {
        text-decoration: none;
        padding: 1rem 2rem;
        font-size: 1rem;
        line-height: 1.5;
        font-weight: bold;
        border-left: 4px solid transparent;
        transition: all 0.3s;
        &.active {
            border-left: 4px solid #2a8356;
        }
        &:hover {
            background-color: #cdddcd;
        }
    }
}

.sidebar-user {
    // position: fixed;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidebar-img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar-detail {
    .sidebar-title,
    .sidebar-text {
        padding: 0;
        margin: 0;
    }
    .sidebar-title {
        font-size: $fz * 1.6;
        line-height: 1.5;
        font-weight: bold;
    }
    .sidebar-text {
        font-size: $fz * 1.4;
        line-height: 1.5;
    }
}
